<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuizSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>appName</param-name>
    <param-value>QuizPET</param-value>
  </context-param>
  <context-param>
    <param-name>appDir</param-name>
    <!-- <param-value>/Users/chenqi/GitHub/QuizSystem/WebContent/</param-value>  -->
     <param-value>/Users/Qi/github/Fill-in-Blank-Questions/QuizSystem/WebContent/</param-value>
  </context-param>
  <context-param>
    <param-name>windows</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>compilerHomeDir</param-name>
    <param-value></param-value>
  </context-param>
  <context-param>
    <param-name>reportToUM</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>verbose</param-name>
    <param-value>false</param-value>
  </context-param>
  <context-param>
    <param-name>appID</param-name>
    <param-value>41</param-value>
  </context-param>
  <context-param>
    <param-name>language</param-name>
    <param-value>java</param-value>
  </context-param>
  <context-param>
    <param-name>userModelURL</param-name>
    <param-value>http://adapt2.sis.pitt.edu/cbum/um</param-value>
  </context-param>
  <context-param>
    <param-name>usr</param-name>
    <param-value>adl01</param-value>
  </context-param>
  <context-param>
    <param-name>grp</param-name>
    <param-value>ADL</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>MenuNavigation</display-name>
    <servlet-name>MenuNavigation</servlet-name>
    <servlet-class>servlet.MenuNavigation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MenuNavigation</servlet-name>
    <url-pattern>/MenuNavigation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayQuiz</display-name>
    <servlet-name>displayQuiz</servlet-name>
    <servlet-class>servlet.displayQuiz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayQuiz</servlet-name>
    <url-pattern>/displayQuiz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EvaluateAnswer</display-name>
    <servlet-name>EvaluateAnswer</servlet-name>
    <servlet-class>servlet.EvaluateAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EvaluateAnswer</servlet-name>
    <url-pattern>/EvaluateAnswer</url-pattern>
  </servlet-mapping>
</web-app>